---
import BaseHead from "../components/BaseHead.astro";
import BaseFooter from "../components/BaseFooter.astro";

interface Props {
    title: string;
    description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
	</head>
	<body>
        <slot />
    </body>
    <BaseFooter />
</html>