---
import FacebookLogo from '../images/logos/Facebook.svg'
import TwitterLogo from '../images/logos/Twitter.svg'
import LinkedinLogo from '../images/logos/LinkedIn.svg'

const logoArray = [
	{
		img: FacebookLogo,
		href: 'https://www.facebook.com/artyompalevich',
	},
	{
		img: TwitterLogo,
		href: 'https://x.com/apalevich',
	},
	{
		img: LinkedinLogo,
		href: 'https://www.linkedin.com/in/apalevich',
	},
];

import BaseNoscript from "./BaseNoscript.astro";
---

<!-- Footer -->
<footer class="py-14">
	<div class="w-[254px] mx-auto">
		<div class="flex justify-between ">
			{
				logoArray.map(({img: LogoComponent, href})=>(
					<div>
						<a href={href} target="_blank">
							<LogoComponent width={38} height={38} />
						</a>
					</div>
				))
			}
		</div>
		<div class="font-light text-xs leading-4 text-center mt-10">© 2025 Artem Palevich. All rights reserved</div>
	</div>
</footer>
<BaseNoscript />
