---
import QuotationLeft from "../images/drawings/Quotation_left.svg";
import QuotationRight from "../images/drawings/Quotemark_right.svg";

const { title, cards } = Astro.props;
---

<section class="container bg-indigo-500">
	<div class="pt-10 pb-12 relative">
		{
			cards.map(({quote, title, role, company}) => (
				<div>
					<QuotationLeft
						width={45}
						height={35}
						class="absolute left-4 top-10"
					/>
					<div class="text-white ml-9">
						<p class="mt-16 font-semibold text-2xl leading-6">
							{quote}
						</p>
						<div class="text-lg leading-7 mt-10">
							<p class="font-normal">{title}</p>					
							<p class="font-bold">
							{role} at {company}
							</p>
					</div>
					</div>
					<QuotationRight
						width={45}
						height={35}
						class="absolute right-6 bottom-28"
					/>
					
				</div>
			))
		}
	</div>
</section>
