---

---

<!doctype html>
<html lang="en">
	<head>
		<!-- Global Metadata -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <meta name="generator" content={Astro.generator} />
        <!-- Google Tag Manager -->
        <script>
            (function(w: Window, d: Document, s: string, l: string, i: string){
                const dataLayer = (w[l] = (w[l] || []) as { [key: string]: any }[]);
                dataLayer.push({'gtm.start': new Date().getTime(), event: 'gtm.js'});
                const f = d.getElementsByTagName(s)[0];
                const j = d.createElement(s) as HTMLScriptElement;
                const dl = l !== 'dataLayer' ? '&l=' + l : '';
                j.async = true;
                j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
                f.parentNode.insertBefore(j, f);
            })(window, document, 'script', 'dataLayer', 'GTM-KGRW3QLF');
        </script>
        <!-- End Google Tag Manager -->
	</head>
	<body>
		<main class="h-screen flex items-center justify-center bg-secondary">
            <div class="text-4xl text-center">
                <p class="mb-4">🚧</p>
                <h1 class="font-bold ">Under Construction!</h1>
                <a href="/underconstruction" class="text-xl underline">Want to see the draft version?</a>
            </div>
		</main>
        <!-- Google Tag Manager (noscript) -->
        <noscript>
            <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KGRW3QLF" height="0" width="0" style="display:none;visibility:hidden"></iframe>
        </noscript>
        <!-- End Google Tag Manager (noscript) -->
	</body>
</html>