---
import Container from "@components/container.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout>
  <Container>
    <a href="https://apalevich.pro" target="_self">
      <div class="min-h-[calc(100vh-16rem)] flex items-center justify-center">
        <div class="mt-16 text-center">
          <p class="text-sm my-4 text-slate-600">This site is under construction.</p>
          <h1 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">🚧</h1>
          <p class="text-lg py-12 text-slate-600">Click here to visit our main website →</p>
        </div>
      </div>
    </a>
  </Container>
</Layout>
