---
import { Image } from "astro:assets";

import CoverImage from '../images/blog-placeholder-about.jpg'
---
<section class="p-0 mx-auto max-w-7xl sm:px-4 text-center md:text-left sectionSize">
    <div class="mt-8 mb-12 mx-4 py-12 rounded-lg hover:shadow-2xl border border-black bg-black grid items-center grid-cols-1 gap-10 px-4 overflow-hidden text-white sm:rounded-lg md:px-10 md:grid-cols-5 lg:gap-0">
        <div class="col-span-1 md:col-span-3">
            <h2 class="secondaryTitle px-0">Study Cases</h2>
            <p class="mb-6 text-sm font-montserrat lg:text-base">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero incidunt consequatur hic! Est deserunt ipsum laboriosam omnis aliquam assumenda vero autem quam libero debitis eius molestiae natus dolores, voluptatum voluptas!
            </p>
            <a href="#" class="inline-block mt-2 mx-auto border-2 px-6 py-2 rounded-lg border-white bg-white text-black font-bold">Read blog</a>
        </div>
        <div class="col-span-1 md:col-span-2 hidden md:block">
            <Image src={CoverImage} class="w-full ml-0 select-none lg:ml-32" alt="Blog">
        </div>
    </div>
</section>