---
import { Image } from "astro:assets";
import HeartIcon from "../images/logos/Heart.svg";
import type { ListItem } from "../interfaces";

const { title, steps } = Astro.props;
---

<section class="container">
	<div>
		<h2 class="font-pt-serif text-xl text-center leading-6 font-medium mt-16">{title}</h2>
	</div>
	<div class="grid grid-col gap-4 mt-7">
		{
			steps.map(({ title, description }: ListItem) => (
				<div class="flex relative justify-center flex-col shadow-lg mx-auto px-6 rounded w-[300px] h-[280px] bg-white">
					<div class="absolute top-[24px] text-xl text-indigo-500 font-bold leading-6">{title}</div>
					<div class="text-grayish leading-5 mt-10" set:html={description} />
				</div>
			))
		}
	</div>
	<div class="mt-8 flex justify-stretch gap-3">
		<a href="https://calendly.com/apalevich/45min" class="button button-primary">LET'S TALK</a>
	</div>
	<div
		class="mb-4 mt-12 max-w-80 rotate-2 bg-beige p-8 shadow-2xl lg:mt-4 lg:-rotate-3 lg:self-start xl:ml-16"
	>
		<p
			class="mb-8 text-left font-inter text-base italic leading-relaxed text-gray-600"
		>
			We follow an agile model, which means that tasks are estimated in advance,
			and the project has
			<!-- <span class="bg-underline1-flip bg-left-bottom bg-no-repeat bg-100% pb-1"> -->
			defined milestones.
			<!-- </span> -->
			This approach ensures transparency for our clients and allows our professionals
			to work efficiently.
		</p>
	</div>
</section>
