<footer class="mt-20">
  <p class="text-center text-sm text-slate-500">
    Copyright Â© {new Date().getFullYear()} Artem Palevich. All rights reserved.
  </p>
  <!--
    Can we ask you a favor ðŸ™
    Please keep this backlink on your website if possible.
    or Purchase a commercial license from https://web3templates.com
  -->
  <p class="text-center text-xs text-slate-500 font-light mt-1 opacity-0">
    Based on theme made by <a
      href="https://web3templates.com"
      target="_blank"
      rel="noopener"
      class="hover:underline">
      Web3Templates
    </a>
  </p>
</footer>
<!-- Google Tag Manager (noscript) -->
<noscript>
	{
		import.meta.env.PROD && (
			<iframe
				src="https://www.googletagmanager.com/ns.html?id=GTM-KGRW3QLF"
				height="0"
				width="0"
				style="display:none;visibility:hidden"
			/>
		)
	}
</noscript>
