---
import { Picture } from "astro:assets";
import heroImage from "../images/photos/hero_image.jpg";
import Highlight1 from "../images/drawings/Highlight1.svg";
import Highlight2 from "../images/drawings/Highlight2.svg";

import { renderRichText, renderButtons } from "../utilities";

const { h1, h2, buttons } = Astro.props;
---

<section
	class="container flex flex-col justify-center bg-secondary px-6 md:mt-0 md:h-screen md:flex-row md:items-center md:justify-between md:gap-4 md:px-12 lg:px-48"
>
	<div class="md:mr-10 md:flex-1">
		<h1
			class="font-pt-serif text-2xl font-bold text-center pt-12 mx-auto w-72"
			set:html={renderRichText(h1)}
		/>
		<div
			class="text-sm mt-8 leading-5"
			set:html={renderRichText(h2)}
		/>
		<div class="mt-7 flex flex-col lg:flex-row justify-stretch gap-3" set:html={renderButtons(buttons)} />
	</div>
	<div class="mt-28 flex justify-around md:mt-0 md:block md:flex-1 h-44">
		<div class="relative">
			<Highlight1
				width={52}
				height={65}
				class="absolute -top-16 left-2"
			/>
		</div>
		<Picture
			formats={["webp", "jpg"]}
			src={heroImage}
			alt="Artem Palevich works at computer"
			class="mx-auto -mb-16 rotate-12 shadow-xl md:mb-0 md:rotate-6"
			height="300"
		/>
		<div class="relative">
			<Highlight2
				width={38}
				height={40}
				class="absolute -bottom-32 right-8"
			/>
		</div>
	</div>
</section>
