---
import { Image } from "astro:assets";

const { content } = Astro.props;
---

<div class="sectionSize grid auto-rows-fr gap-8 md:grid-cols-2">
	{
		content.cards.map(({ title, description, photo }) => (
			<div class="flex h-full flex-row gap-4 rounded-lg border-2 p-8">
				<div class="flex-shrink">
					<div class="pb-3 font-pt-serif text-sm uppercase" set:html={title} />
					<div class="text-gray-600 text-md italic" set:html={description} />
				</div>
				<div class="min-w-28 flex-grow">
					<Image
						src="https://css-tricks.com/wp-content/cache/breeze-extra/gravatars/8081b26e05bb4354f7d65ffc34cbbd67"
						alt={`Portrait of ${title}`}
						height={160}
						width={160}
						class="border-8 border-black"
					/>
				</div>
			</div>
		))
	}
</div>
