---
import { Picture } from "astro:assets";
import daria_p from "../images/photos/daria_p.jpg";
import eugene_k from "../images/photos/eugene_k.jpg";
import olga_k from "../images/photos/olga_k.jpg";
import zarema_k from "../images/photos/zarema_k.jpg";
import maksim_t from "../images/photos/maksim_t.jpg";

import { renderRichText } from "../utilities";
const { title, cards } = Astro.props;

const specialists = [zarema_k, maksim_t, olga_k, eugene_k, daria_p];

---
<section class="container">
    <div class="my-6 mx-7">
        <h2
            class="font-pt-serif font-medium text-xl leading-8 text-grayish"
            set:html={renderRichText(title)}
        />
    </div>
    <!-- <div class="flex flex-row gap-2"> -->
    <div class="mx-auto px-16 mt-14 ">
        <div class="grid grid-cols-6 grid-rows-2 gap-x-10 gap-y-6">
            {
                specialists.map((img, i) => (
                    <div class="rounded-full bg-gray-100">
                        <Picture height={60} width={60} src={img} alt="Profile" class="rounded-full aspect-square" />
                    </div>
                ))
            }
        </div>
    </div>
</div>
<style>
    .grid > div:nth-child(1) { grid-area: 1 / 1 / 2 / 3; }
    .grid > div:nth-child(2) { grid-area: 1 / 3 / 2 / 5; }
    .grid > div:nth-child(3) { grid-area: 1 / 5 / 2 / 7; }
    .grid > div:nth-child(4) { grid-area: 2 / 2 / 3 / 4; }
    .grid > div:nth-child(5) { grid-area: 2 / 4 / 3 / 6; }
</style>